<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Hola, bienvenido!</h1>
        <p class="lead">En esta página web prodrás encontrar la sección de galería para ver imágenes, una sección de tareas donde puedes agregar recordatorios, marcarlas como realizadas y mucho más.</p>
        <hr class="my-4">
        <p>¿Necesitas ayuda?<strong> Por favor contáctanos</strong></p>
        <a [routerLink]="['/contact']" class="btn btn-primary btn-lg" href="#" role="button">Ir a contacto</a>
    </div>
</div>

<section class="background">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <!-- <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="assets/img/logo.jpg"></a> -->
      </div>
    </div>

    <div class="col-md-12">
      <h1>
        Puedes ver tú ubicación
      </h1>

      <p class="tagline">
        Cuando creas una tarea, aparecerá en el mapa, con la descripción de tu tarea.
      </p>
      <a class="btn btn-full" [routerLink]="['/maps']" routerLinkActive="router-link-active">Ir a mapas</a>
    </div>
  </div>

</section>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2020 Web Page</p>
  <p class="mb-1">contacto@soporte.com</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a target="blank" href="https://github.com/kronox98/webApp">GitHub</a></li>
  </ul>
</footer>